body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background-color: black;
  }
  
  /* Navigation bar styles */
  header {
    display: flex;
    padding: 0 5%;
    justify-content: space-between;
    background-color: white;
  }
  
  .main-nav {
    font-size: larger;
    font-weight: bold;
    padding-top: 20px;
    display: flex;
    column-gap: 50px;
  }
  
  .main-nav a:hover {
    color: #d48103;
  }
  
  a {
    font-size: 20px;
    color: #484a3d;
    text-decoration: none;
  }
  
  #selected {
    color: #faa508;
  }
  
  /* Intro Section */
  #intro {
    position: relative;
    width: 100%;
    height: auto;
  }
  
  #intro video {
    width: 100%;
    height: auto;
    position: relative;
    z-index: 1;
  }
  
  #intro h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 2.5em;
    font-weight: bold;
    z-index: 2;
  }
  
  #intro a {
    position: absolute;
    top: 75%;
    left: 70%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 1, 5em;
    z-index: 2;
    font-weight: bold;
    border-radius: 15px;
    background-color: #262627;
    padding: 10px 25px;
  }
  
  #intro a:hover {
    cursor: pointer;
    background-color: #f5e237;
    color: #f3f3f5;
  }
  
  /* Main Content */
  .product-nav {
    display: flex;
    justify-content: space-around;
    margin: 10px auto;
    background-color: #0e0d0d;
    color: #fff;
    font-size: 1.5em;
  }
  
  #nav-cat {
    background-color: #0a0a04;
    color: rgb(14, 13, 12);
    margin: auto;
  }
  
  .products-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #0c0c0c;
  }
  
  .product-card {
    background-color: rgb(29, 29, 29);
    color: rgb(199, 177, 81);
    border: solid 2px #5e4d03;
    border-radius: 20px;
    width: 250px;
    height: 600px;
    margin: auto;
  }
  
  .product-img {
    color: #fff;
    border: solid 2px #5e4d03;
    border-radius: 25px 50px;
    width: 240px;
    height: 163px;
    filter: grayscale(100%);
  }
  
  .product-img:hover {
    filter: grayscale(0%);
    cursor: pointer;
  }
  
  footer {
    background-color: #262627;
    height: 300px;
    width: 100%;
    color: #fff;
    text-align: center;
  }
  
  /* Menu on main Content */
  #meals-con {
    width: 80%;
    margin: 50px auto;
    background-color: #0e0d0d;
    color: #fff;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;

  }
  
  .meals {
    height: 100%;
    background-color: #0e0d0d;
    border: solid 2px #5e4d03;
    filter: grayscale(100%);
  }
  
  .meals:hover {
    filter: grayscale(0%);
    cursor: pointer;
  }
  
  .meals img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
  }
  
  .vertical-chef {
    width: 100%;
    background-color: #0e0d0d;
    border: solid 2px #5e4d03;
    grid-row: 1/3;
  }
  
  .vertical-chef img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
  }
  
  .meals h2 {
    font-size: 1.5em;
    font-weight: bold;
    margin: 10px;
    color: #fff;
  }
  